---
const {icao24, title, place, route, latitude, longitude} = Astro.props;
---

<a href={`/${route}`}>
<div>
		<h4>Origin Country: {title}</h4>
		<p>Callsign: {place}</p>
		<span>{route}</span>
	</div>
</a>

<style>
	:root {
		--lines: rgb(118, 118, 118);
	}

	p {
		margin: 10px 0;
	}

	div {
		outline: 1px solid var(--lines);
		padding: 1em;
		margin: 25px;
	}

	div:hover {
		cursor: pointer;
	}

	a {
		color: white;
		text-decoration: none;
	}
</style>