---
const {icao24, title, place, route, latitude, longitude} = Astro.props;
---

<a href={`/${route}`}>
	<div>
		<p>Origin Country</p>
		<h2>{title}</h2>
		<dl class="meta">
			<dd class="box">
				<dl>
					<dt>Unique ICAO</dt>
					<dd class="border">{route}</dd>
				</dl>
			</dd>
			<dd class="box">
				<dl>
					<dt>Callsign</dt>
					<dd>{place}</dd>
				</dl>
			</dd>
		</dl>
	</div>
</a>

<style>
	:root {
		--lines: rgb(118, 118, 118);
	}

	p {
		margin: 10px 0;
	}

	div {
		outline: 1px solid var(--lines);
		padding: 1em;
		margin: 25px;
	}

	div:hover {
		cursor: pointer;
	}

	a {
		color: white;
		text-decoration: none;
	}

	dd {
		width: 150px;
	}

	dt {
		margin: 7px 0;
		font-weight: 900;
	}

	.meta {
		display: flex;
		text-align: left;
		padding: 10px 0;
	}

	.border
	{
		position: relative;
		z-index: -1;
		&::after
		{
			content: "";
			position: absolute;
			bottom: 0;
			width: 1px;
			height: 40px;
			margin: 0 65px;
			background: var(--lines);
		}
	}
</style>