<main>
	<section id="globeViz">
	</section>
</main>

<style>
	main {
		position: relative;
	}

	#globeViz {
		outline: 1px solid var(--lines);
		position: absolute;
		left: 480px;
		top: 1px;
	}
</style>