<main>
	<section id="globeViz">
	</section>
</main>

<style>
	main {
		position: relative;
	}

	#globeViz {
		display: inline;
		outline: 1px solid var(--lines);
		left: 480px;
	}

	@media (min-width: 900px) {
		#globeViz {
			position: absolute;
		}
	}

</style>