---

const dayArr = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
const monthArr = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const date = new Date();
const day = date.getDay();
const dayNum = date.getDate();
const month = date.getMonth();
---

<header>
	<div>
		<h2>{dayArr[day]}</h2>
		<span>{dayNum} {monthArr[month]}</span>
	</div>
	<h1>Flights</h1>
</header>

<style>
	header {
		background-color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px;
	}

	h1 {
		margin: 0 25px;
	}

	h2, span {
		margin: 0 25px;
	}
</style>