<header>
	<h1>Flights</h1>
	<div>
		<h2>Wednesday</h2>
		<span>April, 8th</span>
	</div>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgb(118, 118, 118);
	}
</style>