---
import Card from "./Card.astro";
---

<aside>
	<p>Search a flight</p>
	<input type="text" placeholder="Search..">
	<h3>From</h3>
	<Card title="This is the flight" place="some data"  stat="Status: active"/>
	<h3>To</h3>
	<Card title="This is the flight2" place="some other data" stat="Status: active"/>
</aside>

<style>
	aside {
		outline: 1px solid var(--lines);
		width: 30%;
		height: 100vh;
	}

	input {
		padding: 10px;
		margin: 25px;
		background: transparent;
		border: none;
		outline: 1px solid var(--lines);
		color: white;
	}
</style>