---
import Card from "./Card.astro";

// const url = "https://opensky-network.org/api/states/all?lamin=45.8389&lomin=5.9962&lamax=47.8229&lomax=10.5226";
// const url = "https://opensky-network.org/api/states/all?time=1458564121&icao24=3c6444";
// const response = await fetch(url);
// const flightInfo = await response.json();
// console.log(flightInfo);
const flightInfo = {
	states: []
};
---

<aside>
	<label for="search-bar">Search a flight</label>
	<input type="search" id="search-bar">
	<button>Search</button>
	<p>Total Aircraft: 6259</p>
	{ flightInfo.states.map(state => {
		const [route, place, title] = state;
		return (
			<Card title={title} place={place} route={route}/>
		)
	})}
</aside>

<style>
	aside {
		outline: 1px solid var(--lines);
		width: 30%;
		height: 100vh;
	}

	input {
		padding: 10px;
		margin: 25px;
		background: transparent;
		border: none;
		outline: 1px solid var(--lines);
		color: white;
	}
</style>