---
// const url = "https://jsonplaceholder.typicode.com/todos";
// const response = await fetch(url);
// const todos = await response.json();
import Header from "../../components/Header.astro"
const key = import.meta.env.KEY;

// const url = "https://api.api-ninjas.com/v1/stars?name=vega";
// const response = await fetch(url, {
// 	headers: {
// 		"X-Api-Key": key
// 	}
// });
// const stars = await response.json();

// console.log(stars);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../../styles/global.css">
		<title>kat</title>
	</head>
	<body>
		<Header />
		<!-- <h1>{stars[0].name} is the star of the day</h1> -->
		<script src="./globe.js"></script>
	</body>
</html>
