---
const url = "https://jsonplaceholder.typicode.com/todos";
const response = await fetch(url);
const todos = await response.json();

// console.log(todos.length);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>kat</title>
	</head>
	<body>
		<h1>kat</h1>
		<p>this is a js thingy {todos.length} :(</p>
		<ol>
			{todos.map(todo => <li>{todo.title}</li>)}
		</ol>
	</body>
</html>
