---
import Header from "../../components/Header.astro"
import SearchBar from "../../components/SearchBar.astro"
import GlobeContainer from "../../components/GlobeContainer.astro"
import staticData from "./../all.json" assert { type: "json" };

let flightInfo = undefined;
// let onrender = import.meta.env.ONRENDER;

// if (onrender)
// {
	flightInfo = staticData;
// }
// else {
// 	const url = "https://opensky-network.org/api/states/all?lamin=45.8389&lomin=5.9962&lamax=47.8229&lomax=10.5226";
// 	const response = await fetch(url);
// 	flightInfo = await response.json();
// }

// console.log(flightInfo.states[0][0]);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/global.css">
		<title>🛩</title>
	</head>
	<body>
		<Header />
		<SearchBar flightInfo={flightInfo}/>
		<GlobeContainer />
		<script src="https://cdn.jsdelivr.net/npm/globe.gl"></script>
		<script define:vars={{flightInfo}} type="module">
			// @ts-nocheck
			const globe = Globe()
			.globeImageUrl('./temp.png')
			// .globeImageUrl('./big.jpg')

			globe
			.pointsData(
				flightInfo.states.map(state => ({
				lat: state[6],
				lng: state[5],
				}))
			)
			.pointColor(() => 'rgb(255, 255, 255)')
			.pointAltitude(10)
			.pointRadius(0.02);
			
			globe(document.getElementById('globeViz'));
		</script>
	</body>
</html>
