---
import { Agent, setGlobalDispatcher } from 'undici';
setGlobalDispatcher(new Agent({ connect: { family: 4 } }));
import Header from "../../components/Header.astro"
import SearchBar from "../../components/SearchBar.astro"
import GlobeContainer from "../../components/GlobeContainer.astro"

const url = "https://opensky-network.org/api/states/all?lamin=45.8389&lomin=5.9962&lamax=47.8229&lomax=10.5226";
const response = await fetch(url);
const flightInfo = await response.json();

//longitude
// console.log(flightInfo.states[0][5]);
//latitude
// console.log(flightInfo.states[0][6]);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../../styles/global.css">
		<title>🛩</title>
	</head>
	<body>
		<Header />
		<SearchBar flightInfo={flightInfo}/>
		<GlobeContainer />
	</body>
</html>
